.container {
    display: flex;
    flex-direction: row;
    background:#4100a8;
    width: 70em;
	height:34em;
    border: 0.3em solid #000;
    border-radius: 50em;

}

.pantalla {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.pantalla1 {
    width:19em;

}

.pantalla2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: grey;
    width: 28em;
    height: 20em;
    border: 0.4em solid black;
    
}