.body {
	background:#4100a8;
    width: 75em;
	height:40em;
    border: 0.3em solid #000;
    border-radius: 60px 60px 60px 60px;

}

.pantalla {
    background-color: grey;
    width: 28em;
    height: 20em;
    border: 3em solid black;
    margin: 6em 5em 3em 20em;
    border-radius: 60px 60px 60px 60px;
}